.alert:empty { display: none; }

.header {
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  width: 519px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/phoenix.png");
  background-size: 519px 71px;
}

ul {
  margin: 8px;
}

li {
  border-radius: 5px;
  padding: 4px;
}

.list-group-item {
  list-style-type: none;
  background-color: #beb8f1;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 4px;
}

.list-group-item h5 {
  display: inline-block;
  color: #666;
  margin-right: 8px; 
}

.list-group-item p{
  display: inline-block;
  color: #2e57a7;
}

.list-group-item-success {
  background-color: #cccbde;
}

.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: block;
  margin: 8px;
}

.contract-header {
  display: inline-block;
  margin-right: 8px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.marketing {
  margin: 35px 0;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}

.monthly-count {
  display: inline-block;
  width: 3em;
  text-align: center;
  border: 1px solid #3BA99C;
  border-radius: 5px;
  padding: 4px;
  background-color: #3BA99C;
  color: white;
}

.content {
  margin-top: 50px
}

.pure-button {
  margin-right: 10px; 
}

.check-timer {
  margin-top: 20px;
}

.time-period {
  display: inline-block;
  margin-right: 10px;
}

.time-period .amount {
  font-size: 100%;
  padding: 10px;
  border-radius: 4px;
  background: #ccc;
}

.time-period .period {
  font-size: 50%;
  display: block;
  color: #8980F5;
  padding-top: 10px;
  text-transform: uppercase;
}

.nav-item {
  display: inline-block;
  padding: 4px;
}
.nav-item.active {
  background-color: #9ac8c3;
}

.nav-link {
  padding: 4px;
}
